<%= form_for(@quote, :html => {:class => 'form-horizontal'})  do |f| %>
  <% if @quote.errors.any? %>
    <div class="alert alert-block alert-error">
      <h3><span class="label label-important">Error</span> <%= pluralize(@quote.errors.count, "エラー") %> prohibitedthis quote from being saved:</h3>
      <ul>
        <% @quote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="control-group">
      <%= f.label :body, '引用', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, :class => "input-xxlarge", :rows => "5" %>
        <span class="help-block">引用の本文 : 半角500文字（全角250文字）以内</span>
　　　</div>
    </div>
    <div class="control-group">
      <%= f.label :reference, '引用元', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :reference, :class => "input-xxlarge" %>
        <span class="help-block">引用元の書籍名、人物名など : 半角100文字（全角50文字）以内</span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tag_list, 'タグ', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tag_list, :class => "input-xxlarge" %>
        <span class="help-block">タグ (カンマで区切ってください : タグ1, タグ2, タグ3)</span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :remark, '備考', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :remark, :class => "input-xxlarge", :rows => "5" %>
        <span class="help-block">引用に対する備考 : 半角500文字（全角250文字）以内</span>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "送信", :class => "btn btn-primary", :name => "commit" %>
    </div>
  </fieldset>
<% end %>
