<div class="page-header">
  <h1>
    <%= @user.username + "'s " if @user.present? %>Quotes List <%= "<small>Tagged with: #{params[:tag]}</small>".html_safe if params[:tag].present? %>
  </h1>
</div>
<div class="row-fluid">
  <div class="span9">
    <% if @quotes.empty? %>
      <p>There are no quotes</p>
    <% else %>
      <% @quotes.each do |quote| %>
        <p>
        <blockquote><%= link_to quote.body, quote %></blockquote>
        </p>
        <div align="right">
          <p>
          <i><%= quote.reference %></i><br />
          <% if user_signed_in? && quote.user_id == current_user.id -%>
            <%= link_to 'Edit', edit_quote_path(quote), class: 'btn btn-small btn-primary' %>
            <%= link_to 'Destory', quote, confirm: 'Are you sure?', method: :delete, class: 'btn btn-small btn-primary' %>
          <% end -%>
          </p>
        </div>
        <div class="page-header", style="margin-top: 10px"></div>
      <% end %>
      <%= paginate @quotes %>
    <% end %>
  </div>
  <div class="span3">
    <%= render 'sidebar' %>
  </div>
</div>
