<div class="row">
  <div class="span9">
    <h1><%= @quote.body %></h1>
    <div align="right">
      <p>
        <h4><i><%= @quote.reference %></i></h4>
      </p>
    </div>
    <h4>Tags</h4>
    <p>
      <b>
      <% @quote.tags.each do |tag| -%>
        <%= link_to tag.name, quotes_path(tag: tag.name) %>
      <% end -%>
      </b>
    </p>
    <h5>Remark</h5>
    <p><%= @quote.remark %></p>
    <% if user_signed_in? && @quote.user_id == current_user.id -%>
      <%= link_to '編集', edit_quote_path(@quote), class: 'btn btn-small btn-primary' %>
      <%= link_to '削除', @quote, confirm: '本当に削除してよいですか？', method: :delete, class: 'btn btn-small btn-primary' %>
    <% end %>
  </div>
  <div class="span3">
    <%= render 'sidebar' %>
  </div>
</div>

