<div class="page-header">
  <h2>Sign up</h2>
</div>
<div class="row">
  <div class="span9">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
      <% if resource.errors.any? -%>
        <div class="alert alert-block alert-error">
          <h3><%= pluralize(resource.errors.count, "error") %>prohibited:</h3>
          <ul>
            <% resource.errors.full_messages.each do |msg| -%>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <fieldset>
        <div class="control-group">
          <%= f.label :username, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :username %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div> 
        <div class="form-actions">
          <%= f.submit "Sign up", :class => 'btn btn-primary', :name => 'commit' %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span3">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
